*{
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1F3B;
    color: #E1FAB9;
    font-size: 3rem;
    line-height: 5rem;
    
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice{
    height: 153px;
    width: 153px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #1B1F3B;

}

img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#user-score, #comp-score{
   font-size: 2rem;
   margin: 1.5rem;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#msg{
    background-color: #1B1F3B;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}
